<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active" >DiagnoPlant</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i>
    </button>

    <!--home-->
    <div *ngIf="!showAgricultureBoard && !showExpertBoard && !showAdminBoard" class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/detect-auto']" routerLinkActive="router-link-active" >Home</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/']" routerLinkActive="router-link-active" >About</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/']" routerLinkActive="router-link-active" >Blog</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/']" routerLinkActive="router-link-active" >Contact</a>
            </li>
        </ul>
        <button class="btn btn-success my-2 my-sm-0">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
    </div>

    <!--agriculture-->
    <div *ngIf="showAgricultureBoard && !showExpertBoard && !showAdminBoard" class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/detect-auto']" routerLinkActive="router-link-active" >Home</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/expert']" routerLinkActive="router-link-active" >Consulter l'expert</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/allresponse']" routerLinkActive="router-link-active" >avis expert</a>
            </li>
        </ul>
        <button class="btn btn-success my-2 my-sm-0" (click)="onLogout()">LogOut <i class="fas fa-sign-out-alt"></i></button>
    </div>
    
    <!--expert-->
    <div *ngIf="!showAgricultureBoard && showExpertBoard && !showAdminBoard" class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/espace-expert']" routerLinkActive="router-link-active" >Home</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/listeMaladies']" routerLinkActive="router-link-active" >Consulter les fiches des maladies</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/add-maladies']" routerLinkActive="router-link-active" >Ajouter une nouvelle maladie</a>
            </li>
        </ul>
        <button class="btn btn-success mr-2 my-2 my-sm-0" (click)="onLogout()">LogOut <i class="fas fa-sign-out-alt"></i></button>
    </div>
    
    <!--admin-->
    <div *ngIf="!showAgricultureBoard && showExpertBoard && showAdminBoard" class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/espace-expert']" routerLinkActive="router-link-active" >Home</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/agriculture']" routerLinkActive="router-link-active" >Espace agriculture</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/expert']" routerLinkActive="router-link-active" >Espace expert</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
            </li>
        </ul>
        <button class="btn btn-success mr-2 my-2 my-sm-0" (click)="onLogout()">LogOut <i class="fas fa-sign-out-alt"></i></button>
    </div>
</nav>
