<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <a class="navbar-brand" href="#">DiagnoPlant</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/detect-auto']" routerLinkActive="router-link-active" >Home</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/expert']" routerLinkActive="router-link-active" >Consulter l'expert</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success" [routerLink]="['/allresponse']" routerLinkActive="router-link-active" >avis expert</a>
            </li>
        </ul>
        <button class="btn btn-success my-2 my-sm-0" type="submit">LogOut <i class="fas fa-sign-out-alt"></i></button>
    </div>
</nav>