/.metadata
.settings/
.classpath
.project
.sts4-cache
.DS_Store

doc/
classes/
/build
buildSrc/build
/spring-*/build
/spring-core/kotlin-coroutines/build
/framework-bom/build
/integration-tests/build
/src/asciidoc/build
target/

spring-*/src/main/java/META-INF/MANIFEST.MF

*.iml
*.ipr
*.iws
.idea