  #myInput {
    background-image: url('src/img/chercher.png');
    background-size: 18px;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  /* #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
   */
  /* .list-group-item {
    border: 1px solid #ddd;
    margin-top: -1px; 
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  } */

  .item_delete{
    color: brown;
  }

  .item_edit{
    color: #757f9a;
    margin-right: 15px;
  }

  .fas{
    float: right;
  }
  
  .list-group-item {
    border: 1px solid #ddd;
    margin-top: -1px; 
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;

  }

  .list-group-item:hover:not(.header) {
    background-color: rgba(13, 151, 0, 0.39);
    color: rgb(251, 235, 0);
  }

div.content {
    min-height: 100vh;
    background-color: #757f9a;
    background-image: linear-gradient(270deg, #d7dde8 5%, #757f9a 95%);
}