<!-- <div class="modal-header"> -->
    <!-- <h2 class="modal-title">DiagnoPlant <i class="fas fa-leaf" style="color:green"></i></h2> -->
    <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
<!-- </div> -->

<!-- <div class="modal-body"> -->
    <!-- <form (ngSubmit)="onValid(form)" #form="ngForm"> -->
        <!-- <select class="form-group" *ngFor="let maladie of maladies">
            <option >{{maladie.nomMaladie}}</option>
        </select> -->
    
        <!-- <div class="form-group">
            <label for="exampleFormControlTextarea1" style="font-size: x-large;">Informations complementaires</label>
            <textarea [(ngModel)]="images.infosCompl" name="infosCompl" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Entrer les informations complementaires"></textarea>
        </div> -->
    
        <!-- <div class="form-group">
            <button class="btn btn-secondary" type="submit">Valider</button>
        </div> -->
    <!-- </form> -->
<!-- </div> -->

