<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <a class="navbar-brand" href="#">DiagnoPlant</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="btn btn-success mr-2" style="background-color: #05c46b !important;" [routerLink]="['/espace-expert']" routerLinkActive="router-link-active" >Home</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success mr-2" style="background-color: #05c46b !important;" [routerLink]="['/listeMaladies']" routerLinkActive="router-link-active" >Consulter les fiches des maladies</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-success mr-2" style="background-color: #05c46b !important;" [routerLink]="['/add-maladies']" routerLinkActive="router-link-active" >Ajouter une nouvelle maladie</a>
            </li>
        </ul>
        <button class="btn btn-success mr-2 my-2 my-sm-0" style="background-color: #05c46b !important;" type="submit">LogOut <i class="fas fa-sign-out-alt"></i></button>
    </div>
</nav>